.reservationItem {
  max-width: 24rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.reservationForm {
  display: grid;
  margin-bottom: 1rem;
}

.inputArea {
  border-style: solid;
  border-color: rgb(239, 239, 239);
  width: 93%;
  padding: 0.5rem;
  margin: 0.3rem 0;
}
