.reservationItem {
  max-width: 30rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.date {
  color: rgb(129, 129, 129);
}

.reservationBorder {
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  border-bottom: 1px dashed #ccc;
}
