.reservationList {
  max-width: 30rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.reservationListItem {
  list-style: none;
}

.reservationUnit {
  display: grid;
  grid-template-columns: 1fr;
}

.reservationDetail {
  margin: 0.22rem 0;
  font-size: 0.95rem;
}

.date {
  color: rgb(129, 129, 129);
}

.reservationBorder {
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  border-bottom: 1px dashed #ccc;
}

.link {
  color: #d83a38;
}

.line {
  margin: 1.1rem 0;
  border-top: 1px dashed lightgrey;
}

@media only screen and (min-width: 27rem) {
  .reservationUnit {
    grid-template-columns: 1fr max-content 1fr;
  }

  .link {
    text-align: right;
  }

  .line {
    margin: 2rem 0;
  }
}
