.reservationItem {
  max-width: 30rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.error {
  font-weight: bold;
  color: red;
}

.date {
  color: rgb(129, 129, 129);
}

.reservationBorder {
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  border-bottom: 1px dashed #ccc;
}

.btn2 {
  background: #ccc;
  color: #000;
  margin: 0;
}

@media only screen and (min-width: 40rem) {
}
