.restaurantList {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  max-width: 24rem;
  margin: 0 auto;
  padding: 0 1rem;
  grid-gap: 3rem;
}

.restaurantItem {
  list-style: none;
  padding: 1rem;
  box-shadow: rgba(22, 22, 23, 0.2) 0px 7px 29px 0px;
}

.restaurantName {
  font-weight: bold;
  margin: 0.2rem 0;
}

.restaurantDescription {
  margin: 0.3rem 0;
}

.restaurantlink {
  background: rgb(215, 19, 19);
  border-radius: 5px;
  display: inline-block;
  color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  margin: 1rem 0 0 0;
  text-decoration: none;
}

@media only screen and (min-width: 40rem) {
  .restaurantList {
    max-width: 38rem;
  }

  .restaurantItem {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2rem;
  }
}
