.restaurantList {
  max-width: 24rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.restaurantItem1 {
  margin-bottom: 3rem;
  list-style: none;
  padding: 1rem;
  box-shadow: rgba(22, 22, 23, 0.2) 0px 7px 29px 0px;
}

.restaurantName1 {
  font-weight: bold;
  margin: 0.2rem 0;
}

.restaurantDescription1 {
  margin: 0.3rem 0 1.2rem 0;
}

/* .restaurantlink {
  background: #d83a38;
  border-radius: 5px;
  display: inline-block;
  color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  text-decoration: none;
} */

@media only screen and (min-width: 40rem) {
  .restaurantList {
    max-width: 40rem;
  }

  .restaurantItem1 {
    display: grid;
    place-items: center;
    grid-template-columns: 1.1fr 2fr;
    grid-gap: 2rem;
  }
}
